html, body{
    margin: 0;
    padding: 0; 
    width: 100%; 
    height: 100%;
}

.basic_text{
    color: white; 
}

.background_div{
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(127, 181, 232), rgb(54, 182, 224)); 
    position: absolute;
}

.title{
    width: fit-content; 
    height: fit-content; 
    padding-left: 6vw; 
    padding-top: 5vw; 
    float: left;
    position: absolute; 
}